{% extends "layout.twig" %}
{% set meta_desc = 'Pencil-and-paper RPG character sheets, in the cloud!' %}
{% block title %}SheetWiz{% endblock %}
{% block head %}
	{{ parent() }}
	<link rel="sitemap" type="application/xml" title="Sitemap" href="{{ app.request.basepath }}/sitemap" />
	<style>
	</style>
{% endblock %}
{% block body %}
<div ng-controller="CharacterListCtrl">
<h1>Hello World!</h1>
<ul id="characters">
	<li ng-repeat="char in characters"><a href="/character/[[char.id]]">[[char.key]]</a> ([[char.value.race]] [[char.value.class]])</li>
</ul>
</div>
{% endblock %}
